
* {
    box-sizing: border-box;
    
}

.container {
    min-width: 300px;
}

html, body {
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.ghost {
    display: none;
  }
  
.unghost {
    display: flex;
  }

input[type="text"]
{
    font-size:0.8rem;
    font-weight: 400;
}

option, select {
    font-size: 0.8rem !important;
 }

 #mainform  {
    height: auto;
 }

label {
    margin-bottom: 0.1rem;
    font-size: 0.8rem;
}

#header {
    height: 3rem;
    display:flex;
    justify-content: center;
    align-items: center;
}

#form-design {
    text-align: left;
}

h4 {
    font-size: 1.3rem;
    font-weight: 400;
    background-color: #afeeee46;
}

h5 {
    font-size: 0.8rem;
    font-weight: 400;
    padding-left: 4px !important;
    background-color: #afeeee46;
}

h6 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 0.6rem;
    font-weight: 500;
    padding-left: 4px !important;
    padding-right: 0px !important;
    padding-top: 2px !important;
    padding-bottom: 2px !important;
    text-align: left;
    margin-left: 0px !important;
    margin-right: 0px !important;
    margin-top: 4px !important;
    margin-bottom: 4px !important;
    background-color: #afeeee;
}

div.sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 6;
  }

.change-btn {
    font-size: 0.6rem;
    font-weight: 400;
}

.row {
    padding-left: 0px !important;
    padding-right: 0px !important ;
    margin-left: 0px !important ;
    margin-right: 0px !important ;
}

.btn-vis {
    visibility: hidden;
}

.bg-lightblue {
    background-color: lightblue;
}

.bg-white {
    background-color: white;
}



/* -------------------------------------------------------------------------------------------- */
/* Extra large devices (large desktops, 576px and up) */
/* -------------------------------------------------------------------------------------------- */

@media (min-width: 576px){ 
.w-75 {
    width: 50% !important;
}

h5 {
    font-size: 0.8rem;
}

h6 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 0.6rem;
    font-weight: 400;
}


}